* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

#app h1 {
  padding-bottom: 0;
}

main#app {
  width: 100%;
  margin: 0;
  /* margin-top: 50px; */
  padding: 0 0 0;
  border-top: 1px solid;
  background-color: #EAF1F1;
  font-family: poppins;
}

& button {
  width: auto !important;
}

.task-manager-side-bar.toggle-side-bar {
  transition: all .5s ease;
  transform: translateX(-100%);
}

.task-manager-side-bar.toggle-side-bar button {
  transition: all .5s ease;
  transform: translateX(60px) rotate(180deg);

}

.side-menu-options {
  & li:hover {
    color: #e2e2e2;
  }

  & li.active {
    color: #e2e2e2;
  }

  & i {
    font-size: 1.5rem;
  }

  & span {
    display: none;
  }
}

.main-content-area {
  background-color: #f9fafa93;
}

.task-manager-top-bar form input {
  width: 100% !important;
}

.task-area {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

.recent-tasks-section {
  grid-row: 1 / 4;
}

.statistic-section {
  grid-row: 4 / -1;
}

.folders-section {
  grid-row: -6 / -4;
}

.notes-section {
  grid-row: -4 / -1;
}

.date-time-area {
  width: 30%;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.task-item.active {
  background-color: #fff;
}

.show {
  .fa-angle-down {
    transform: rotate(180deg);
    transition: all .4s;
  }
}

section::-webkit-scrollbar {
  display: none;
}

.text-editor-container {
  animation: openEditor .5s ease-in-out forwards alternate;
}

@keyframes openEditor {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

.task-lists li.active>div,
.task-lists li.active>div:hover {
  background-color: #e2e2e2;
}

.user-list.active,
.user-list.active:hover {
  background-color: #e2e2e288;
}

/* responsive code */
@media screen and (max-width: 1024px) {
  .main-content-area {
    background: #F9FAFA;
  }
}

@media screen and (max-width: 910px) {
  .text-editor-container {
    padding: 20px !important;
  }

  .task-lists :is(.fa-folder, .fa-file) {
    font-size: .9rem;
  }
}

@media screen and (max-width: 850px) {
  .task-manager-top-bar {
    gap: 10px !important;
  }

  .recent-task-sidebar-item {
    position: absolute;
    height: 450px;
    width: 200px !important;
    box-shadow: 0 0 rgba(0, 0, 0, .5);
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
  }

  .show-side-bar {
    transform: translateX(0) !important;
    z-index: 99;
  }

  .recent-task-side-menu {
    display: flex !important;
  }

  .recent-task-side-menu.translate-btn {
    animation: animMenuBtn .5s ease-in-out forwards alternate;
  }

  @keyframes animMenuBtn {
    0% {
      transform: translateX(0) rotate(0);
    }

    100% {
      transform: translateX(200px) rotate(360deg);
    }
  }

  .editor-head>button.translate-btn {
    animation: animMenuBtn2 .5s ease-in-out forwards alternate;
  }

  .text-editor-side-bar {
    transition: all .5s ease-in-out;
  }

  @keyframes animMenuBtn2 {
    0% {
      transform: translateX(60px) rotate(0);
    }

    100% {
      transform: translateX(0px) rotate(180deg);
    }
  }
}

@media screen and (max-width: 550px) {
  .main-task-list .tags {
    display: none !important;
  }

  .main-task-list .progress-bar-container {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .text-editor-container {
    z-index: 99;
  }

  .main-content-area {
    padding: 0 !important;
  }
}