* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  user-select: none;
  transition: all .2s ease;
}

body {
  position: relative;
}

main#app {
  width: 100%;
  margin: 0;
  padding: 0 0 0;
  border-top: 1px solid;
  background-color: #EAF1F1;
  font-family: poppins;
}

input[type="aria-hidden"] {
  display: none;
}

.writing-area,
.individual-page {
  -webkit-user-select: text;
  user-select: text;
}




.task-manager-side-bar.toggle-side-bar {
  transition: all .5s ease;
  transform: translateX(-100%);
}

.confirmation-box {
  animation: openConfirmationBox .5s ease-in-out forwards alternate;
}

@keyframes openConfirmationBox {
  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

.task-manager-side-bar.toggle-side-bar .collapse-side-bar-btn {
  transition: all .5s ease;
  transform: translateX(60px) rotate(180deg);

}

.side-menu-options li.active {
  color: #e2e2e2;
}

.more-page-opt-container.show-more-page-opt-container {
  display: block;
}



.task-item.active,
.individual-note-item.active {
  background-color: #fff;
}

.show .fa-angle-down {
  transform: rotate(180deg);
  transition: all .4s;
}


.task-area section,
.task-manager-content>div>:is(ul, div) {
  animation: fade .5s ease-in-out forwards alternate;
}

@keyframes fade {
  0% {
    transform: scale(.99);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.delete-list-item {
  animation: delete-item .5s ease-in-out forwards alternate
}

@keyframes delete-item {
  0% {
    transform: translateX(0);
    visibility: visible;
  }

  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}

.content-head.hide-unwanted-things .tags,
.content-head.hide-unwanted-things .layouts,
.content-head.hide-unwanted-things .sort {
  display: none;
}

/* .text-editor-container {
  transform: translateY(-100%);
}

.text-editor-container.show-text-editor-container {
  transform: translateY(0);
} */

.text-editor {
  animation: openEditor .5s ease-in-out forwards alternate;
}

.main-task-list * {
  transition: all .5s ease;
}


/* grid layout */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-layout>li {
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  height: 150px;
}

.layouts button.active {
  background-color: #fff;
}

@keyframes openEditor {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

.task-lists li.active>div,
.task-lists li.active>div:hover {
  background-color: #e2e2e2;
}

.user-list.active,
.user-list.active:hover {
  background-color: #e2e2e288;
}

.user-selector-none {
  -webkit-user-select: none;
  user-select: none;
}

.open-text-editor {
  width: 50px !important;
}

.text-editor-side-bar.toggle-side-bar {
  transform: translateX(0%) !important;
}

.text-editor-side-bar .editor-side-bar-btn {
  transform: translateX(60px);
}

.toggle-side-bar .editor-side-bar-btn {
  transform: translateX(0) rotate(180deg);
}

.tool-box__wrapper button.active {
  background-color: #EAF1F1;
  transition: all .1s ease-in-out;
}

.tool-box__wrapper button:active {
  background-color: #EAF1F1;
  transform: scale(.7);
}

.writing-area :is(ul, ol),
.individual-page :is(ul, ol) {
  /* all: unset !important; */
  list-style-type: unset;
  padding-left: 40px !important;
}

.writing-area,
.individual-page {}

.writing-area h1,
.individual-page h1 {
  font-size: 36px;
  font-weight: 700;
}

.writing-area h2,
.individual-page h2 {
  font-size: 24px;
  font-weight: 700;
}

.writing-area h3,
.individual-page h3 {
  font-size: 18px;
  font-weight: 600;
}

.writing-area h4,
.individual-page h4 {
  font-size: 16px;
  font-weight: 600;
}

.writing-area h5,
.individual-page h5 {
  font-size: 14px;
  font-weight: 500;
}

.writing-area h6,
.individual-page h6 {
  font-size: 12px;
  font-weight: 500
}

.text-editor ul,
.individual-page ul {
  list-style-type: disc;
}

.text-editor ol,
.text-editor ol {
  list-style-type: number;
}

.save-btn::after,
.more-tools::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

/* responsive code */
@media screen and (max-width: 1024px) {
  .main-content-area {
    background: #F9FAFA;
  }
}

@media screen and (max-width: 910px) {
  .text-editor-container.tasks-editor-container {
    padding: 20px !important;
  }
}

@media screen and (max-width: 850px) {
  .task-manager-top-bar {
    gap: 10px !important;
  }

  .content-sidebar-item {
    position: absolute;
    height: 450px;
    width: 200px !important;
    box-shadow: 0 0 rgba(0, 0, 0, .5);
    transform: translateX(-100%) !important;
    transition: all .5s ease-in-out;
  }

  .show-side-bar {
    transform: translateX(0) !important;
    z-index: 99;
  }

  .content-side-menu {
    display: flex !important;
  }

  .content-side-menu.translate-btn {
    animation: animMenuBtn .5s ease-in-out forwards alternate;
  }

  @keyframes animMenuBtn {
    0% {
      transform: translateX(0) rotate(0);
    }

    100% {
      transform: translateX(200px) rotate(360deg);
    }
  }

  .editor-head>button.translate-btn {
    animation: animMenuBtn2 .5s ease-in-out forwards alternate;
  }

  .text-editor-side-bar {
    transition: all .5s ease-in-out;
  }

  @keyframes animMenuBtn2 {
    0% {
      transform: translateX(60px) rotate(0);
    }

    100% {
      transform: translateX(0px) rotate(180deg);
    }
  }
}

@media screen and (max-width: 700px) {

  .editor-top-head.toggle-more-opts {
    height: 90px;
    align-items: flex-end !important;
  }

  .editor-more-opts {
    padding-left: 10px !important;
    visibility: hidden;
    transition: unset !important;
  }

  .editor-top-head.toggle-more-opts .editor-more-opts {
    visibility: visible;
  }

  .editor-top-head.toggle-more-opts .more-opts-toggle-btn {
    transform: rotate(180deg);
  }

  .title-heading {
    top: 20px !important
  }

  .close-editor {
    margin-left: 10px !important;
  }

  .close-editor,
  .more-opts-toggle-btn {
    align-self: flex-start;
    min-width: 30px !important;
    height: 30px !important;
    margin-top: 5px;
  }

  .close-editor,
  .more-opts-toggle-btn {
    font-size: 1rem !important;
  }

  .more-opts-toggle-btn {
    display: block !important;
    margin-left: auto;
  }
}

@media screen and (max-width: 580px) {

  /* .todo-head{
    border
  } */
  .toggle-date-inputs-btn {
    display: flex !important;
  }

  .todo-head .input-field {
    position: absolute;
    top: 50px;
    background: #EAF1F1;
    width: 100%;
    padding: 5px;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
  }

  .input-field.show-input-field {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .main-task-list .tags {
    display: none !important;
  }

  .main-task-list .progress-bar-container {
    display: none;
  }

  .more-opt-btn {
    display: flex !important;
    background-color: white !important;
  }

  .more-opts {
    border: 1px solid #e2e2e2;
    box-shadow: -5px 5px 10px rgba(192, 192, 192, 0.5);
    background-color: white;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    z-index: 10;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    transform: scale(0);
    transform-origin: top right;
  }

  .more-opts.show-more-opts {
    transform: scale(1);
  }

  #clear-all-tasks {
    margin-top: 10px;
    border: 1px solid #eeeeee;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.747);
    color: white;
  }

  #clear-all-tasks:hover {
    background-color: rgba(255, 0, 0, 0.897);
  }

  #clear-all-tasks span {
    display: initial !important;
  }
}

@media screen and (max-width: 500px) {
  .task-manager-top-bar {
    padding-left: 2px !important;
  }

  .text-editor footer {
    display: none !important;
  }
}

@media screen and (max-width: 430px) {
  .text-editor-container {
    z-index: 99;
  }

  .main-content-area {
    padding: 0 !important;
  }
}

@media screen and (max-width: 350px) {
  .text-editor-container {
    padding: 0 !important;
  }

  .text-editor {
    border-radius: 0 !important;
    height: 100vh !important;
  }
}